<div class="container">
    <div class="container is-widescreen">
      <p id="notice"><%= notice %></p>
      <h1>Items</h1>
      <div class="column is-offset-10">
        <a href="<%= new_item_path %>" class="button">
          <span class="icon has-text-success">
              <i class="fas fa-plus"></i>
          </span>
        </a>
      </div>

    </div>

    <div class="columns is-mobile is-multiline">
        <% @items.each do |item| %>
          <div class="column is-three-quarters-mobile ">
          <%= render 'single_item', item: item %>
          </div>
        <% end %>
    </div>
</div>
